Asset Network/Teraque.AssetNetwork.MarketEngine/Service References/MarketService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Teraque" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Teraque.AssetNetwork" />
  <xs:element name="ExecuteOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Teraque" minOccurs="0" name="messages" nillable="true" type="q1:ArrayOfMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimulatorParameters">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimulatorParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Teraque.AssetNetwork" minOccurs="0" name="GetSimulatorParametersResult" nillable="true" type="q2:SimulatorParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSimulatorParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Teraque.AssetNetwork" minOccurs="0" name="simulationParameters" nillable="true" type="q3:SimulatorParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSimulatorParametersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>