Asset Network/Teraque.AssetNetwork.MarketEngine/Service References/MarketService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MarketService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="TcpMarketServiceEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Teraque" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Teraque.AssetNetwork" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMarketService_ExecuteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteOrder" />
  </wsdl:message>
  <wsdl:message name="IMarketService_ExecuteOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketService_GetSimulatorParameters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSimulatorParameters" />
  </wsdl:message>
  <wsdl:message name="IMarketService_GetSimulatorParameters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSimulatorParametersResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketService_SetSimulatorParameters_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSimulatorParameters" />
  </wsdl:message>
  <wsdl:message name="IMarketService_SetSimulatorParameters_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSimulatorParametersResponse" />
  </wsdl:message>
  <wsdl:portType name="IMarketService">
    <wsdl:operation name="ExecuteOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketService/ExecuteOrder" message="tns:IMarketService_ExecuteOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketService/ExecuteOrderResponse" message="tns:IMarketService_ExecuteOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSimulatorParameters">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketService/GetSimulatorParameters" message="tns:IMarketService_GetSimulatorParameters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketService/GetSimulatorParametersResponse" message="tns:IMarketService_GetSimulatorParameters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetSimulatorParameters">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketService/SetSimulatorParameters" message="tns:IMarketService_SetSimulatorParameters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketService/SetSimulatorParametersResponse" message="tns:IMarketService_SetSimulatorParameters_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TcpMarketServiceEndpoint" type="tns:IMarketService">
    <wsp:PolicyReference URI="#TcpMarketServiceEndpoint_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ExecuteOrder">
      <soap12:operation soapAction="http://tempuri.org/IMarketService/ExecuteOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSimulatorParameters">
      <soap12:operation soapAction="http://tempuri.org/IMarketService/GetSimulatorParameters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSimulatorParameters">
      <soap12:operation soapAction="http://tempuri.org/IMarketService/SetSimulatorParameters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MarketService">
    <wsdl:port name="TcpMarketServiceEndpoint" binding="tns:TcpMarketServiceEndpoint">
      <soap12:address location="net.tcp://Ariel/Asset%20Network/Market%20Service" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://Ariel/Asset%20Network/Market%20Service</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>Ariel\Donald Roy Airey</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>