Asset Network/Market Console/Teraque.AssetNetwork.MarketClient/Service References/MarketService/Market Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Teraque.AssetNetwork" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Teraque.AssetNetwork" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SimulatorParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="EquityFrequency" type="xs:double" />
      <xs:element minOccurs="0" name="ExecutionFrequency" type="xs:double" />
      <xs:element minOccurs="0" name="IsExchangeSimulatorRunning" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPriceSimulatorRunning" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimulatorParameters" nillable="true" type="tns:SimulatorParameters" />
</xs:schema>