Asset Network/Market Console/Teraque.AssetNetwork.MarketClient/Service References/MarketService/MarketService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MarketService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="TcpMarketServiceEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Asset Network/Market Service?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Asset Network/Market Service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Asset Network/Market Service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Teraque" />
      <xsd:import schemaLocation="http://localhost/Asset Network/Market Service?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/Asset Network/Market Service?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Teraque.AssetNetwork" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMarketService_ClearOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearOrders" />
  </wsdl:message>
  <wsdl:message name="IMarketService_ClearOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketService_ExecuteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteOrder" />
  </wsdl:message>
  <wsdl:message name="IMarketService_ExecuteOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketService_GetSimulatorParameters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSimulatorParameters" />
  </wsdl:message>
  <wsdl:message name="IMarketService_GetSimulatorParameters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSimulatorParametersResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketService_SetSimulatorParameters_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSimulatorParameters" />
  </wsdl:message>
  <wsdl:message name="IMarketService_SetSimulatorParameters_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSimulatorParametersResponse" />
  </wsdl:message>
  <wsdl:portType name="IMarketService">
    <wsdl:operation name="ClearOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketService/ClearOrders" message="tns:IMarketService_ClearOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketService/ClearOrdersResponse" message="tns:IMarketService_ClearOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketService/ExecuteOrder" message="tns:IMarketService_ExecuteOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketService/ExecuteOrderResponse" message="tns:IMarketService_ExecuteOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSimulatorParameters">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketService/GetSimulatorParameters" message="tns:IMarketService_GetSimulatorParameters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketService/GetSimulatorParametersResponse" message="tns:IMarketService_GetSimulatorParameters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetSimulatorParameters">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketService/SetSimulatorParameters" message="tns:IMarketService_SetSimulatorParameters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketService/SetSimulatorParametersResponse" message="tns:IMarketService_SetSimulatorParameters_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TcpMarketServiceEndpoint" type="tns:IMarketService">
    <wsp:PolicyReference URI="#TcpMarketServiceEndpoint_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ClearOrders">
      <soap12:operation soapAction="http://tempuri.org/IMarketService/ClearOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteOrder">
      <soap12:operation soapAction="http://tempuri.org/IMarketService/ExecuteOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSimulatorParameters">
      <soap12:operation soapAction="http://tempuri.org/IMarketService/GetSimulatorParameters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSimulatorParameters">
      <soap12:operation soapAction="http://tempuri.org/IMarketService/SetSimulatorParameters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MarketService">
    <wsdl:port name="TcpMarketServiceEndpoint" binding="tns:TcpMarketServiceEndpoint">
      <soap12:address location="net.tcp://localhost/Asset%20Network/Market%20Service" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost/Asset%20Network/Market%20Service</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>