Asset Network/Teraque.AssetNetwork.WebService/Service References/WebService/Teraque.AssetNetwork.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Teraque.AssetNetwork" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Teraque.AssetNetwork" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfQuote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Quote" nillable="true" type="tns:Quote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuote" nillable="true" type="tns:ArrayOfQuote" />
  <xs:complexType name="Quote">
    <xs:sequence>
      <xs:element minOccurs="0" name="AskPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="AskSize" type="xs:decimal" />
      <xs:element minOccurs="0" name="BidPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="BidSize" type="xs:decimal" />
      <xs:element minOccurs="0" name="LastPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="LastSize" type="xs:decimal" />
      <xs:element minOccurs="0" name="Symbol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Quote" nillable="true" type="tns:Quote" />
</xs:schema>